{{ 'about-us.css' | asset_url | stylesheet_tag }}
<div class="about-us-section page-width {{ section.id }}">
  {% if section.settings.section_heading != blank %}
    <h2 class="about-us--heading">{{ section.settings.section_heading }}</h2>
  {% endif %}
  <div class="about-us--content">
    <div class="about-us--image">
      {% if section.settings.image != blank %}
        {% render 'responsive-picture' class = 'image' mobileImage: section.settings.image_mobile, desktopImage: section.settings.image %}
      {% endif %}
    </div>
    <div class="about-us--text">
      {% if section.settings.section_text != blank %}
        <p>{{ section.settings.section_text }}</p>
      {% endif %}
      <div class="btn-container">
        {% if section.settings.button_text != blank %}
          <a class="about-us--button" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
   .{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  @media (min-width: 768px) {
    .{{ section.id }} {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
</style>
{% schema %}
{
  "name": "About Us",
  "settings": [
    {
    "type": "header",
    "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Top Padding (Mobile)",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Bottom Padding (Mobile)",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Top Padding (Desktop)",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Bottom Padding (Desktop)",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 60
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image for Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image for Mobile"
    },
    {
      "type": "text",
      "id": "section_text",
      "label" : "Section Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label" : "Button Text",
      "default" : "Explore Products"
    },
    {
      "type": "url",
      "id": "button_url",
      "label" : "Button Url"
    }
  ],
  "presets": [
    {
      "name": "About Us"
    }
  ]
}
{% endschema %}
